<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zc.manager.dao.TTokenMapper">
  <resultMap id="BaseResultMap" type="zc.commons.pojo.TToken">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="userid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="pwd_token" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="auto_login_token" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expire_token" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sso_token" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="zc.commons.pojo.TToken">
    insert into t_token (id, userid, pwd_token, 
      auto_login_token, expire_token, sso_token
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{pwdToken,jdbcType=VARCHAR}, 
      #{autoLoginToken,jdbcType=VARCHAR}, #{expireToken,jdbcType=VARCHAR}, #{ssoToken,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, userid, pwd_token, auto_login_token, expire_token, sso_token
    from t_token
  </select>
</mapper>