<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zc.manager.dao.TTypeMapper">
  <resultMap id="BaseResultMap" type="zc.commons.pojo.TType">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="delBatch" parameterType="list">
    delete from t_type
    where id in
    <foreach collection="typeid" item="id"  open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>
  <insert id="insert" parameterType="zc.commons.pojo.TType">
    insert into t_type (id, name, description
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="zc.commons.pojo.TType">
    update t_type
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, description
    from t_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, description
    from t_type
  </select>
  <select id="selectCountWithCondition" resultType="int">
    select count(*)
    from t_type
    <if test="queryContent != null">
      where name like concat('%',#{queryContent},'%')
    </if>
  </select>
  <select id="selectWithCondition" resultType="zc.commons.pojo.TType">
    select * from
    t_type
    <if test="queryContent != null">
      where name like concat('%',#{queryContent},'%')
    </if>
    order by id desc
    limit #{start},#{size}
  </select>
  <select id="selectIdByName" resultType="int">
    select id from t_type where name=#{type}
  </select>
</mapper>